.carouselimg {
    height: 550px;
    width: 100%;
    background-size: cover;
}
.box1{
    padding: 10px;
}
.container{
    margin-top: 20px;
}
.icon1{
    min-height: 300px !important;
}
.image-box {
    aspect-ratio: 16/9;
    overflow: hidden;

}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}